html {
  color: white;
  margin: 0;
  padding: 0;
  background-color: #232323;
  height: 100vh;
  font-size: clamp(.8rem, 1.8vh, 2rem);
}

* {
  text-align: center;
  box-sizing: border-box;
}

.container {
  width: 100vw;
  height: 100vh;
}

.flex {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

h1 {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 300%;
}

h1,
h2,
h3,
h4 {
  margin: 0;
}

a,
a:visited {
  color: white;
}

button {
  margin: 10px 0;
  font-size: 100%;
  padding: 10px 14px;
  background-color: white;
  border: none;
  box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.25);
  font-weight: 700;
  border-radius: 6px;
}

button:hover {
  cursor: pointer;
}

.inputform {
  font-size: 100%;
  padding: 6px;
  margin: 12px;
}

.text {
  color: white;
  font-size: 1.6rem;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

.error {
  position: absolute;
  top: 18px;
  right: 18px;
  background-color: red;
  border-radius: 6px;
  padding: 12px 24px;
  box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.25)
}

#output {
  font-size: 600%;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  background-color: white;
  color: #232323;
  padding: 8px 12px;
  border-radius: 6px;
  width: clamp(170px, 15vh, 230px);
  margin: 16px auto;
  box-shadow: inset 2px 5px 10px rgba(0, 0, 0, 0.25);
  display: block;
  user-select: none;
}

#reset {
  background-color: red;
  border-radius: 0px 6px 6px 0px;
  color: white;
  width: 50px;
}

#pwned {
  border-radius: 6px 0px 0px 6px;
  width: clamp(120px, 15vh, 200px);
}

#sharelink:hover {
  cursor: pointer;
}

#hint {
  font-size: 0.8rem;
  margin: 4px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  padding: 2px 8px;
}

#customText {
  border: none;
  background-color: rgba(0, 0, 0, 0);
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 160%;
  color: white;
  border-bottom: 1px solid white;
}

#copyright {
  color: rgba(255, 255, 255, 0.5);
}

#url {
  font-size: 80%;
  max-width: 80vw;
  word-wrap: break-word;
}


@media (max-height: 500px) {
  .flex {
    flex-direction: row;
  }
}